@font-face {
    font-family: 'iransance';
    src: url('fonts/IRANSans_Medium.eot?#') format('eot'),  /* IE6–8 */
         url('fonts/IRANSansWebMedium.woff2') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('fonts/IRANSans_Medium.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  }
body{
    font-family: 'iransance' !important;
}  
.note-editor.note-frame.panel.panel-default{
    font-family: 'iransance';
}